<%- include('../partials/header')%>
<% if (user){ %>
<h2>Enter a new request</h2>
<form action="/requests" method="POST">
    <label>Enter a Category
      <input type="text" name="category">
    </label><br>
    <label>Enter a quick caption:<br>
        <textarea name="title" rows="3" cols="40"></textarea>
    </label><br>
    <input type="submit" value="Add Request">
  </form>
<% }else{ %>
  <h1>you must be logged in to do this</h1>
<% } %>
<%- include('../partials/footer')%>