<%- include('./partials/header')%>


<h1><%= title %></h1>
<p>Here you can request pictures of things you want. Or you can upload pictures if you have something that someone else may want!</p>
<a href="requests/" class="btn btn-light">click here to get started</a>


<%- include('./partials/footer')%>
