<%- include('../partials/header')%>

<h2>Post a picture response user's request for category!</h2>
<form action="/requests/<%= requestId %>/responses" method="POST">
    <label>Enter the imgur URL
      <input type="text" name="content">
    </label><br>
    <label>Enter a quick caption for your photo:<br>
        <textarea name="caption" rows="3" cols="40"></textarea>
    </label><br>
    <input type="submit" value="Add Request">
  </form>

<%- include('../partials/footer')%>